@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movieshub</h1>
    <img src="~/wallpaperflare.com_wallpaper.jpg" alt="" height="600" width="1200">
</div>
